/* ******adaptive******* */


html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    /* width: 100%; */
    box-sizing:border-box;
}

.header {
    
    
    
    height: 150px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    margin: 0;
    /* background-color: yellow */
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
}

.dark-section {
    background-color: #030303;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1440px;
    height: 100%;
    /* border: 1px solid blue; */
    /* background-color: green; */
}

.nav_logo {
    background-image: url("assets/svg/Vector.svg");
    background-repeat: no-repeat;
    
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    
    /* identical to box height */
    letter-spacing: 5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    width: 230px;
    display: flex;
    justify-content: right;

}

.navigation_bar {
    display: flex;
    width: 100%;
    justify-content: right;
}

.navigation_list {
    margin-right: 0;
    display: flex;
    
    list-style: none;
    width: 840px;
    justify-content: space-between;

    
}

.navigation_list_item a {
    display: flex;
    width: auto;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;

    letter-spacing: 2px;

    color: #FFFFFF;
}

.welcome {
    height: 810px;
    padding-top: 0px;
    padding-bottom: 60px;
    
}

.welcome_content-wrapper {
    display: flex;
    justify-content: space-between;
    background-image: url("assets/img/welcome-slider/1.jpg ");
    background-repeat: no-repeat;
    background-position: right;
    
    width: 100%;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(90deg, #030303 25%, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.welcome-title {
    margin-top: 150px;       
    width: 100%;    
    
}

.welcome-title span {
    display: block;
}

.section-title {
    font-family: Forum;
    font-weight: 300;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome-text {
    width: 100%;
    margin-top: 25px;  

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;

    /* identical to box height */
    letter-spacing: 2px;

    color: #FFFFFF;
}

.button-container {
    
    display: flex;
    width: 360px;
    margin-top: 75px;
    margin-left: 0;
}

.discover-button {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    height: 75px;
    width: 360px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    
    color: #FFFFFF;

    background: #710707;
    border-radius: 10px;

}

.welcome-slider-wrapper {
    display: flex;
    
    width: 100%;
    
}

.welcome-slider {
    display: flex;
    height: 120px;
    width: 600px;
    background-color: black;

    padding-top: 42px;
    padding-left: 76px;
    
    margin-right: 0;
    margin-top: 690px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;

    /* identical to box height, or 182% */
    text-transform: uppercase;

    color: #FFFFFF;
}

.visiting {
    height: 1266px;
}

.visiting_content-wrapper {
    
    display: flex;
    flex-direction: column;
    width: 100%;
}



.visiting-title {
    width: 100%;
    display: flex;
    margin-left: 0;
    
    height: 118px;
}

.visiting-content {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 45px;
    width: 100%;
    justify-content: space-between;
}

.visiting-card {
    
    text-decoration: none;
    display: block;
}



.visiting-card h3 {
    margin-top: 20px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: black;
}

.underline-visiting-card {
    position: relative;
  }
  
.underline-visiting-card:after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #710707;
}

.visiting-card p:nth-child(3) {
    margin-top: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.visiting-card p:nth-child(4) {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
}

.light-section-title {
    color: #9D8665;
}

.section-border {
    border-bottom: 3px solid #710707;
}

.explore {
    height: 865px;
}

.explore_content-wrapper {
    
    display: flex;
    flex-direction: column;
    width: 100%;

    background-image: url("assets/img/explore-slider/after.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

.explore-title {
    margin-left: 0;   
    height: 118px;
    width: 660px;
}

.explore-content {
    margin-left: 0;
    margin-top: 54px;
    width: 655px;
}

.explore-content p span {
    color: #CAAA7D;
}

.explore-content p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;

    margin-top: 23px;

/* or 175% */

    color: #FFFFFF;
}

.video {
    height: 1396px;
}

.video_content-wrapper {
    display: flex;
    flex-flow: wrap;
    row-gap: 75px;
    column-gap: 50px;
    height: 90px;
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
}

.video-title {
    margin-left: 0;
}

.video-content {
    width: 690px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;

    /* or 175% */
    

    color: #000000;
}

.main-video {
    display: flex;
    flex-flow: wrap;
    row-gap: 38px;
    column-gap: 35px;
}

.gallery_content-wrapper {
    width: 100%;
}

.gallery {
    height: 2200px;
    width: 100%;
    overflow-y: hidden;

    
}

.gallery-title {
    
    margin-left: 0;
}

.picture-container {
    width: 100%;
    height: 3100px;
    
    padding-top: 75px;
}

.picture-inner-container {
    height: 100%;
    display: flex;
    
    flex-flow: wrap column;
    row-gap: 24px;
    column-gap: 36px;
    /* justify-content: center; */
    /* align-content: flex-end; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    
}

.picture-inner-container img {
    /* display: block; */
    /* max-height: 100%; */
    width: 456px;
    /* height: fit-content; */
    
}

.picture-inner-container img:nth-child(1) {
    margin-top: 50px;
    /* width: 456px; */
    /* height: 570px; */
}

.picture-inner-container img:nth-child(11) {
    margin-top: 50px;
    /* width: 456px; */
    /* height: 570px; */
}

.tickets {
    height: 893px;
    padding-bottom: 0;
}

.tickets_content-wrapper {
    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tickets-title {
    width: 100%;
    display: flex;
    margin-left: 0;
    
    height: 118px;
}

.tickets-content {
    padding-top: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tickets-image {
    
}

.tickets-radio-wrapper {
    /* display: flex; */
    
    width: 100%;
    padding-left: 60px;
   
}

.tickets-radio {
    /* position: relative;
    left: 10px; */
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 0;
    max-width: fit-content;
    
    

}

.tickets-radio h3 {
    width: 100%;
    padding-bottom: 25px;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    
}

.tickets-radio  {
    
    

}

.form_radio {
    
    width: 100%;
    padding-top: 25px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.form_radio label {
    padding-left: 20px;
    line-height: 18px;
}

.form_radio input {
    width: 17px;
    height: 17px;
    cursor: pointer;
}



.amount-title h3{

    
    text-align: right;
    color: #000000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;


}

.amount-basic {
    padding-top: 25px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.amount-senior {
    padding-top: 10px;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border: solid black 3px;
    
    /* text-align: justify;
    align-items: baseline; */

}

.counter p {
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
}

.amount-total h3{

    padding-top: 50px;
    text-align: left;
    color: #000000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 1.649999976158142px;
}

.buy {
    cursor: pointer;

    margin-top: 60px;
    margin-left: -25px;
    height: 50px;
    width: 175px;
    left: 1265px;
    top: 586px;
    border-radius: 0px;

    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;

    color: #FFFFFF;
    background: #000000;


}

.parallax {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(assets/img/parallax.jpg);
    width: 100%;
    height: 400px;
    margin-bottom: 0;
}

.contacts {
    height: 962px;
}

.contacts_content-wrapper {
    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacts-title {
    width: 100%;
    display: flex;
    margin-left: 0;
    
    height: 118px;
}

.contacts-wrapper {
    display: flex;
    
    justify-content: space-between;
    width: 100%;
}

.contacts-content {
    width: 278px;
    height: 245px;
    margin-top: 75px;
    margin-left: 0;
    display: block;
    
}

.contacts-content h3 {
    display: block;
    width: 100%;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    
    

}

.contacts-text {
    display: block;
    width: 100%;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    margin-top: 50px;
    color: #000;

}

.contacts-text p {
    margin-top: 24px;
}

.contacts-image {
    width: 960px;
    margin-left: 200px;
    
    margin-top: 70px;
}


.contacts-content span {
    display: block;
    
}

.footer {
    height: 392px;
    
}

.footer-container {
    display: flex;
    padding-top: 85px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
}

.footer-nav_logo {
    display: flex;
    background-image: url("assets/svg/Vector.svg");
    background-repeat: no-repeat;
    
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    
    /* identical to box height */
    letter-spacing: 5px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    width: 330px;
    
    justify-content: right;

}

.footer-navigation-bar {
    padding-left: 80px;
    /* margin-top: 25px; */
    display: flex;
    width: 700px;
    justify-content: right;
}

.navigation_list-column {
    /* margin-right: 0; */
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    list-style: none;
    /* width: 840px; */
    /* justify-content: space-between; */

    
}

.navigation_list-column_item a {
    display: flex;
    /* width: auto; */
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;

    letter-spacing: 2px;

    color: #FFFFFF;

    margin-top: 15px;
    text-align: left;
}

.social {
    width: 100%;
}